* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(232, 244, 255);
    display: flex;
    justify-content: center;
    align-items: center;


}

#mainContainer {

    width: 50%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px silver;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;


}

#left-side-bar {

    width: 30%;
    height: 95%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;

}

.step-box {

    display: flex;
    color: white;
    margin-left: 10%;
    margin-top: 10%;
    gap: 1rem;

}

.box-num {

    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;

}

#rigth-side-bar {

    width: 65%;
    height: 95%;
    display: flex;
    flex-direction: column;
}

#top-box {

    height: 90%;
    /* background-color: antiquewhite; */
    position: relative;

}

#down-box {

    display: flex;
    margin-left: 15%;
    margin-top: 1%;
}

.back-btn {
    border: none;
    background: none;
    cursor: pointer;

}

.error1,
.error2,
.error3 {
    color: red;
}

.next-btn {

    background-color: darkslateblue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;


}

.personal-info {
    display: flex;
    flex-direction: column;
    margin: 5% 15%;
    gap: 0rem;
    position: absolute;



}

.next-btn {
    margin-left: 60%;
}

.personal-info h1 {
    margin-bottom: 5%;
}

.personal-info input {

    padding: 10px 10px;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 1%;


}

.form-box {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.your-plan {

    display: flex;
    flex-direction: column;
    margin: 5% 15%;
    gap: 1rem;
    position: absolute;
    display: none;


}

.your-plan p {
    margin-top: 2%;
}

.plan-box-container {

    display: flex;
    gap: 2rem;

}

.plan-box {

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 120px;
    height: 150px;
    box-shadow: 0 0 20px rgb(232, 225, 225);
    border-radius: 5px;
    padding: 2%;
    margin-top: 10%;
    cursor: pointer;

}

.plan-box:hover {
    border: 2px solid blue;
}

.plan-mon-year {

    display: flex;
    gap: 1rem;
    background-color: rgb(233, 231, 231);
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    padding: 10px 0px;
    border-radius: 5px;


}


.range-choice {

    display: flex;
    justify-content: center;
    column-gap: 1rem;
    color: hsl(240, 3%, 81%);
    color: black;

}



input[type="range"] {
    width: 40px;
    height: 70%;
    background-color: hsl(240, 37%, 59%);
    border-radius: 16px;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: #ece2e2;
    border: 1px solid #f9fcfc;
    border-radius: 50%;

}


.pick-add-plan {
    display: flex;
    flex-direction: column;
    margin: 5% 15%;
    position: absolute;
    display: none;



}

.pick-add-plan p {
    margin-top: 3%;
}

.choose-plan {

    display: flex;

    padding: 10px 20px;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgb(213, 212, 212);
    justify-content: space-between;

    gap: 4rem;
    margin-top: 8%;




}

.finishing-plan {
    display: flex;
    flex-direction: column;
    margin: 5% 15%;
    position: absolute;
    width: 70%;
    display: none;
}

.finishing-plan p {
    margin-top: 3%;
}

.item-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
}

#row {
    display: flex;
    flex-direction: column;
}

.price-line {

    display: flex;
    justify-content: space-between;


}

.finishing-price {

    display: flex;
    flex-direction: column;
    background-color: #ecf7f8;
    border-radius: 5px;
    margin-top: 10%;




}

.arcade-monthly {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.arcade-monthly button {
    background: none;
    border: none;
    border-bottom: 1px solid grey;
    margin-right: 60%;
    font-size: 15px;
}

.total-price {

    display: flex;
    justify-content: space-between;
    font-size: 20px;

}

.thankyou-page {

    display: flex;
    flex-direction: column;
    margin: 5% 20%;
    gap: 1rem;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20%;
    display: none;

}


@media (max-width: 460px) {

    #mainContainer {

        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
                background-color: #ecf7f8;


    }

    #left-side-bar {
        width: 100%;
        height: 30%;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        gap: 0rem;
        background-image: url(./assets/images/bg-sidebar-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 80px 0px;
      
        

    }

    .box-num {

        padding: 30%;
        height: 50px;
        width: 50px;


    }

    .box-title {
        display: none;
    }

    #rigth-side-bar {

        display: flex;
        flex-direction: column;

        width: 100%;
   }

    #top-box {

        width: 90%;
        box-shadow: 10px 10px 10px rgb(206, 205, 205);
        transform: translateY(-10%);
        background-color: #f9fcfc;
        margin-left: 5%;
        border-radius: 5px;
        height: 40em;
     
       
       
    }

    #down-box {
        display: flex;
        margin-left: 0%;
        /* margin-top: 25%; */
        background-color: white;
        padding: 5%;
    }

    .back-btn {
       
        /* visibility: hidden; */

    }


    .personal-info {
        display: flex;
        flex-direction: column;
        margin: 10%;
        gap: 0rem;
        /* display: none; */
    }








    .your-plan {

        display: flex;
        flex-direction: column;
        margin:10%;
        gap: 1rem;
        position: absolute;
        flex-wrap:wrap;
        display: none;
        
       
    
    
    }
    
    .your-plan p {
        margin-top: 2%;
    }
    
    .plan-box-container {
    
        display: flex;
        flex-direction: column;
        gap: 0rem;
        
    
    }
    
    .plan-box {
    
        display: flex;
         flex-direction: row;
        width: 100%;
        height:100px;
        box-shadow: 0 0 20px rgb(232, 225, 225);
        border-radius: 5px;
        padding: 2%;
        margin-top: 10%;
        cursor: pointer;
        /* padding: 10%; */
    
    }
    .plan-box h4 p{
        display: flex;
        flex-basis: 10px;
        /* height: 0px;
        width: 0px; */
       

    }
    
    .plan-box:hover {
        border: 2px solid blue;
    }
    
    .plan-mon-year {
    
        display: flex;
        gap: 1rem;
        background-color: rgb(233, 231, 231);
        align-items: center;
        justify-content: center;
        margin-top: 10%;
        padding: 10px 0px;
        border-radius: 5px;
    
    
    }
    
    
    .range-choice {
    
        display: flex;
        justify-content: center;
        column-gap: 1rem;
        color: hsl(240, 3%, 81%);
        color: black;
    
    }
    
    
    
    input[type="range"] {
        width: 40px;
        height: 70%;
        background-color: hsl(240, 37%, 59%);
        border-radius: 16px;
        -webkit-appearance: none;
    }
    
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 18px;
        height: 18px;
        background-color: #ece2e2;
        border: 1px solid #f9fcfc;
        border-radius: 50%;
    
    }
    



    .pick-add-plan {
        display: flex;
        flex-direction: column;
        margin: 5%;
        width: 100%;
        position: absolute;
        flex-wrap: wrap;
        display: none;
    
    
    
    }
    
    .pick-add-plan p {
        margin-top: 3%;
    }
    
    .choose-plan {
    
        display: flex;
        width: 100%;
        /* padding: 0px; */
        width: 90%;
        text-align: start;
    
        border: 1px solid blue;
        border-radius: 5px;
        box-shadow: 0px 10px 20px rgb(213, 212, 212);
        justify-content: space-between;
    
      margin-top: 8%;  
    
    }





.finishing-plan {
    display: flex;
    flex-direction: column;
    margin: 5% 15%;
    position: absolute;
    width: 70%;
    display: none;
}

.finishing-plan p {
    margin-top: 3%;
}

.item-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
}

#row {
    display: flex;
    flex-direction: column;
}

.price-line {

    display: flex;
    justify-content: space-between;


}

.finishing-price {

    display: flex;
    flex-direction: column;
    background-color: #ecf7f8;
    border-radius: 5px;
    margin-top: 10%;




}

.arcade-monthly {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.arcade-monthly button {
    background: none;
    border: none;
    border-bottom: 1px solid grey;
    margin-right: 60%;
    font-size: 15px;
}

.total-price {

    display: flex;
    justify-content: space-between;
    font-size: 20px;

}

.thankyou-page {

    display: flex;
    flex-direction: column;
    margin: 5% 20%;
    gap: 1rem;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20%;
    display: none;

}



}


@media (max-width:1500px) and (min-width:1024px) {


    .your-plan {

        display: flex;
        flex-direction: row;
        margin:5% 15%;
        gap: 1rem;
        position: absolute;
        flex-wrap:wrap;
        display: none;
        
       
    
    
    }
    
    .your-plan p {
        margin-top: 2%;
    }
    
    .plan-box-container {
    
        display: flex;
        flex-direction: column;
        gap: 0rem;
        
    
    }
    
    .plan-box {
    
        display: flex;
         flex-direction: row;
        width: 100%;
        height:50px;
        box-shadow: 0 0 20px rgb(232, 225, 225);
        border-radius: 5px;
        padding: 2%;
        /* margin-top: 10%; */
        cursor: pointer;
        /* padding: 10%; */
    
    }
    
  
    .next-btn{
        
        margin-left: 40%
    }




    .pick-add-plan {
        display: flex;
        flex-direction: column;
        margin: 5%;
        width: 100%;
        position: absolute;
        flex-wrap: wrap;
        display: none;
    
    
    
    }
    
    .pick-add-plan p {
        margin-top: 3%;
    }
    
    .choose-plan {
    
        display: flex;
        width: 100%;
        /* padding: 0px; */
        width: 90%;
        text-align: start;
    
        border: 1px solid blue;
        border-radius: 5px;
        box-shadow: 0px 10px 20px rgb(213, 212, 212);
        justify-content: space-between;
    
      margin-top: 4%;  
    
    }


    
}